@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Main.cshtml";
}

    
    <header>
        <h1>About Us</h1>
    </header>
    <div class="container">
        <h2>Welcome to Our About Page with Master Page</h2>
        <p>@Model.Value("pageContentText")</p>
    </div>

