


@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web
@{
    Layout = "Master.cshtml";

}


@Html.RenderUmbracoFormDependencies()

    
    <div>

        @Model.Value("contactForm")
    </div>
    <br>
    <div>
        @Model.Value("bodyText")
    </div>




