@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web
@{
    Layout = "Master.cshtml";

}


@Html.RenderUmbracoFormDependencies()


<div class="container">
    <div class="row section">
        <div class="col-md-6">
            <div class="contact-form">
                <div class="form-group">
                    @Model.Value("contactForm")
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    @Model.Value("bodyText")
</div>




