@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LandingPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
    Layout = "Master.cshtml";
}

<!DOCTYPE HTML>


<main>
    <div class="carousel-container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item  active" data-bs-interval="2000">
                    <img src="\images\cars_slide\lastest_ofers.jpg" class="d-block w-100" alt="lastest_ofers">
                    <div class="carousel-caption d-none d-md-block ">
                        <h1>Ford Explorer</h1>
                        <div class="btn_caption">
                            <button type="button" class="btn btn-outline-light rounded-pill learn">
                                Learn
                                More
                            </button>
                            <button type="button" class="btn btn-outline-light rounded-pill">Reserve Now</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="\images\cars_slide\ford_Territory.jpg" class="d-block w-100"
                         alt="ford_Territory">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Next-Generation</h5>
                        <h1>Ford Territory</h1>
                        <div class="btn_caption">
                            <button type="button" class="btn btn-outline-light rounded-pill learn">
                                Learn
                                More
                            </button>
                            <button type="button" class="btn btn-outline-light rounded-pill">Reserve Now</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">

                    <img src="/images/cars_slide/ford_everest.jpg" class="d-block w-100" alt="ford_everest" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Next-Generation</h5>
                        <h1>Ford Everest</h1>
                        <div class="btn_caption">
                            <button type="button" class="btn btn-outline-light rounded-pill learn">
                                Learn
                                More
                            </button>
                            <button type="button" class="btn btn-outline-light rounded-pill">Reserve Now</button>
                        </div>

                    </div>
                </div>
            </div>
            <div id="carousel-arrows">
                <button class="arrows rounded-pill" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="arrows rounded-pill" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <!-- <div id="chatContainer" class="d-none">
        <div aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3">
            <div class="toast-container p-3" id="toastPlacement">
              <div class="toast">
                <div class="toast-header">
                  <img src="..." class="rounded me-2" alt="...">
                  <strong class="me-auto">Bootstrap</strong>
                  <small>11 mins ago</small>
                </div>
                <div class="toast-body">
                  Hello, world! This is a toast message.
                </div>
              </div>
            </div>
          </div>
    </div> -->
    <!-- <div class="fixed-bottom p-3">
        <button id="chatButton" class="btn btn-primary">Open Chat</button>
    </div> -->
</main>
