/* ---------- FONTS ---------- */

* {
    font-family: 'Lato', Roboto, sans-serif;
}

h2 {
    margin-bottom:20px;
}

p {
    margin: 0 0 20px;
}

.primary {
    background-color: rgba(53, 68, 177, 1)!important;
    padding: .7rem 1.5rem !important;
    border-radius: 3px !important;
    border: 2px rgba(53, 68, 177, 1) solid!important;
}

.primary:hover, .primary:focus {
    background-color: rgba(53, 68, 177, .8)!important;
    border: 2px rgba(53, 68, 177, .8) solid!important;
}

.btn-inverted {
    background-color:white;
    border: 2px #3544b1 solid;
    color: #3544b1;
    border-radius: 3px;
    padding: .7rem 1.5rem;
}

.btn-inverted:hover, .btn-inverted:focus {
    background-color: #3544b1;
    color: white;
}

.btn-inverted-orange {
    background-color: white;
    border: 2px solid rgba(247, 156, 55, 1);
    padding: .7rem 1.5rem;
    color: rgba(247, 156, 55, 1);
    font-weight: bolder;
}

.btn-inverted-orange:hover, .btn-inverted-orange:focus {
    background-color: rgba(247, 156, 55, 1);
    color: white;
}

.nav-link{
    color:#00095b;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
.nav-link:hover{

    color:blue;
}
.nav-item{
    margin-left:8px;
     margin-right:8px;
}
#ford_logo {

    margin-left: 50px;
}
#carouselExampleAutoplaying{
    max-height: 5px !important;
    margin-top: 5px;
}
.carousel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carouselExampleAutoplaying {
    margin-bottom: 1rem; /* Adjust the margin as needed */
}

#carousel-arrows {
    display: flex;
    justify-content: right;
    align-items: center;
    right: 60px;
    gap: 5rem; /* Adjust the gap between arrows as needed */
    position: absolute;
    top: 33rem; /* Adjust the distance from the bottom as needed */
}
h1{
    font-size: 75px!important;
    display: flex;
    justify-content: left;
}
h5{
    font-size: 35px!important;  
    display: flex;
    justify-content: left; 
}   

.carousel-caption{
    display: flex;
    justify-content: left;
    align-items: left;
    left: 10px;
    position: absolute;
}
.arrows{
    background-color:#00095b;
    border: solid 0.5px    
}

.btn_caption{
    cursor:pointer;
    font-size:30px;
    font-family: 'Arial Narrow';
    font-weight:900;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 50%;    
}
.learn{

    margin-right: 15px;
}
.btn:hover{
cursor: pointer!important;
    
}
.dropdown{
    display: flex;
    justify-content: right;
    align-items: right;
    right: 10px;
    position: absolute;
}
.chatContainer {
    display: flex;
    width: 300px;justify-content: right;
    position: fixed;
    bottom: 80px; /* Adjust the distance from the bottom */
    right: 20px; /* Adjust the distance from the right */
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
}